name: test
on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golang: ["1.23", "1.24", "1.25"]
    name: tests with go version {{ matrix.golang }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: "{{ matrix.golang }}"

      - name: run unit test
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic

      - name: run benchmark
        run: go test -benchmem -bench .

      - name: Upload Coverage report to CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          files: ./coverage.txt
